matrix:
    include:
        - os: linux
          env:
              - PROJECT=fretwork
              - ARCH=i686
              - MINGW=w64
              - WIN=win32
              - PLATFORM="${ARCH}-${MINGW}-mingw32"
        #- os: linux
        #  env:
        #      - PROJECT=fretwork
        #      - ARCH=x86_64
        #      - MINGW=w64
        #      - WIN=win64
        #      - PLATFORM="${ARCH}-${MINGW}-mingw32"

install:
    - sudo apt-get install -y
        mingw-w64
        mingw-w64-tools
        gcc-mingw-w64

script:
    - source fretwork-deps.sh
    - build_workspace
    - build_iconv
    - build_zlib
    - build_glib
    - build_pkgconfig
    - build_libogg
    - build_libvorbis
    - build_libtheora
    - build_soundtouch
    - build_sdl_mixer

    - package_dist

deploy:
    provider: releases
    api_key:
        secure: pecCn2Lyh46c3ptXHse/gHCbB7WQOi/SYybfLXIwzxsx7YE/VDx8O/osZ7PxlasWQHGkS82B3xk14tToebdoCw3L2niyXi7U4n2i9aHtXHRtoNK/uo0xsZfD3U6CybZ7kXgwaTr+D04B5aH30NiMktVtRGHivWWc7aljlaWAYmec3deOLFd+quKyxeyz5nQgGFYAl+YxC4Cbg3/TXd9LFcXEEvSKhWbq0SPcAdDAMnjTGBeIAYcFZ9INo5HThbGSNE9az7Rfhv5IGfwkPw3yUj/XCHQiTwgU+DIablb2SGYACl3qKD6Tvuy0sMl49DRvijYZUPCELQ7iCCFnhbo65ULcdEd1iF4EHV6OzeKtGVQICqwRnnuFfkidkAAfcoWdSbBSIqjHfhI266diZN3p8RLw6sk4Uaj9Ng4iEL2JZI2FgHyjEf/mH4qRDOXt65vwRn3l+BhUEGzgek/VcX4+EXzicdsum3qQyB1bf8Hom0KQkBLqQhFWpE2UAedjDrQVJBdVdujSoa8eiF0akSJji6bS+4lNt8qCiEA5AZgaF8M5bvSdztlkHRleOEY+mZM1+3TMmtOY+0jYL+F5Bk2KO5PtX8TTRyg6AfuFwDsfl6t3aez+wGv6bPEh2lQcHp+G39Mezgu/VCEQbHHiQ9iv60q7/CcPZh54l8F7a4bQVsQ=
    file_glob: true
    file: out/*
    skip_cleanup: true
    draft: true
    on:
        repo: Linkid/win-dependencies
        all_branches: true
